@using CI_Platform_Web.Entities.Models;

@{
    var usrid = Context.Session.GetString("userID");
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CI_Platform_Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @*<link rel="stylesheet" href="~/css/home.css" />*@
    <link rel="stylesheet" href="~/CI_Platform_Web.styles.css" asp-append-version="true" />
</head>
<body>


    <!-- Starting Top Header -->
    <div class="abc">
        <div class="container">
            <div class="row">

                <div class="col-6 d-flex align-items-center headerLeft">

                    <!-- Top-Header Shown In Mobile/Tab -->

                    <ul class="menu">

                        <a href="./stories.html">Stories</a>

                        <div class="dropdown policy-1">
                            <button class="btn btn-secondary dropdown-toggle btnCustom" type="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                Policy
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="./privacy.html">Privacy Policy</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </div>

                        <!--Country Dropdown-->
                        <div class="dropdown col-3">

                            <button class="btn btn-secondary dropdown-toggle btnCustom" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Country
                            </button>
                            <ul class="dropdown-menu" style="height:250px; overflow-y:scroll;">

                                <!-- for country data in drop down -->
                                @if (ViewBag.Country != null)
                                {
                                    @foreach (var item in ViewBag.Country)
                                    {
                                        <li>
                                            <a class="dropdown-item p-0 mt-1" href="#">
                                                <input type="checkbox" id="" class="checkbox ms-3 " value="@item.Name">
                                                @item.Name
                                            </a>
                                        </li>
                                    }
                                }

                            </ul>

                            @*                        <select id="Country11">
                            <option>default</option>
                            </select>

                            <select id="City11">
                            <option>default</option>
                            </select>*@
                        </div>

                        <!--City Dropdown-->
                        <div class="dropdown col-3">
                            <button class="btn btn-secondary dropdown-toggle btnCustom" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                City
                            </button>
                            <ul class="dropdown-menu" style="height:250px; overflow-y:scroll;">

                                <!-- for city data in drop down -->
                                @if (ViewBag.City != null)
                                {
                                    @foreach (var item in ViewBag.City)
                                    {
                                        <li>
                                            <a class="dropdown-item p-0 mt-1" href="#">
                                                <input type="checkbox" id="" class="checkbox ms-3 " value="@item.Name">
                                                @item.Name
                                            </a>
                                        </li>
                                    }
                                }

                            </ul>
                        </div>

                        <!--Theme Dropdown-->
                        <div class="dropdown col-3  ">
                            <button class="btn btn-secondary dropdown-toggle btnCustom" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Themes
                            </button>
                            <ul class="dropdown-menu" style="height:250px; overflow-y:scroll;">

                                <!--for theme data in drop down-->
                                @if (ViewBag.MissionThemes != null)
                                {
                                    @foreach (var item in ViewBag.MissionThemes)
                                    {
                                        <li>
                                            <a class="dropdown-item p-0 mt-1" href="#">
                                                <input type="checkbox" id="" class="checkbox ms-3 " value="@item.Title">
                                                @item.Title
                                            </a>
                                        </li>
                                    }
                                }

                            </ul>
                        </div>

                        <!--Skill Dropdown-->
                        <div class="dropdown col-3">
                            <button class="btn btn-secondary dropdown-toggle btnCustom" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Skills
                            </button>
                            <ul class="dropdown-menu" style="height:250px; overflow-y:scroll;">

                                <!-- for skill data in drop down -->
                                @if (ViewBag.Skill != null)
                                {
                                    @foreach (var item in ViewBag.Skill)
                                    {
                                        <li>
                                            <a class="dropdown-item p-0 mt-1" href="#">
                                                <input type="checkbox" id="" class="checkbox ms-3 " value="@item.skill_name">
                                                @item.skill_name
                                            </a>
                                        </li>
                                    }
                                }

                            </ul>
                        </div>

                    </ul>

                    <button class="hamburger">
                        <!-- material icons https://material.io/resources/icons/ -->
                        <i class="menuIcon material-icons">menu</i>
                        <i class="closeIcon material-icons">close</i>
                    </button>


                    <!-- Top-Header Shown On PC/Laptop -->


                    <a href="./stories.html" class="topHeader">Stories</a>

                    <div class="dropdown topHeader">
                        <button class="btn btn-secondary dropdown-toggle btnCustom" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Policy
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="./privacy.html">Privacy Policy</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </div>

                </div>

                <!-- Common In Both -->

                <div class="col-6 py-2">
                    <div class="d-flex align-items-center justify-content-end">

                        <div><img src="~/images/user-img.png" alt="" class="imgIcon"></div>

                        <div class="dropdown ">
                            <button class="btn btn-secondary dropdown-toggle btnCustom" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                @{
                                    if (@usrid != null)
                                    {
                                        <span class="txt text-dark">@usrid</span>
                                    }
                                }
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">My Profile</a></li>
                                <li><a class="dropdown-item" href="#">Volunteering Timesheet</a></li>
                                <li><a class="dropdown-item" asp-controller="Access" asp-action="Logout">Logout</a></li>
                            </ul>
                        </div>

                        @*
                        <ul class="d-flex text-decoration-none" style="list-style:none">
                        <li><a class="dropdown-item btn" asp-controller="Home" asp-action="Index">Login</a></li>
                        <li><a class="dropdown-item btn" asp-controller="Home" asp-action="Registration">Register</a></li>
                        </ul>
                        *@

                    </div>
                </div>

            </div>
        </div>
        <hr class="line mt-1 mb-0">

        <!-- Searching And Filter Header In PC/Tab -->

        <div class="container">
            <div class="row">

                <div class="col-6 d-flex align-items-center">

                    <img src="~/images/search.png" alt="Search" class="searchIcon">

                    <nav class="navbar">
                        <div class="container">
                            <form class="d-flex" role="search">
                                <input class="form-control me-2" id="search-bar" name="searchQuery" value="@ViewBag.searchQuery" type="text" placeholder="Search mission..." aria-label="Search">
                            </form>
                        </div>
                    </nav>

                </div>



                <div class="  col-6 d-flex align-items-center">

                    <!--Country Dropdown-->
                    <div class="dropdown col-3 filterNav">
                        <button class="btn btn-secondary dropdown-toggle btnCustom" type="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                            Country
                        </button>

                        <ul class="dropdown-menu" style="height:250px; width:max-content; overflow-y:scroll;">

                            <!-- for country data in drop down -->
                            @if (ViewBag.Country != null)
                            {
                                @foreach (var category in ViewBag.Country)
                                {
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <div class="form-check">
                                                <input class="form-check-input checkbox" type="checkbox" onchange="updateUrlCountry()" value="@category.Name" id=@category.CountryId name="country" />
                                                <label class="form-check-label" for="Checkme1">@category.Name</label>
                                            </div>
                                        </a>
                                    </li>
                                }
                            }
                        </ul>
                    </div>

                    <!--City Dropdown-->
                    <div class="dropdown col-3 filterNav">
                        <button class="btn btn-secondary dropdown-toggle btnCustom "
                                type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            City
                        </button>

                        <ul class="dropdown-menu" style="height:250px; width:max-content; overflow-y:auto; overflow-x:hidden">

                            <!-- for city data in drop down -->
                            @if (ViewBag.City != null)
                            {
                                @foreach (var category in ViewBag.City)
                                {
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <div class="form-check">
                                                <input class="form-check-input checkbox" type="checkbox" onchange="updateUrlCities()" value="@category.Name" id=@category.CityId name="city" />
                                                <label class="form-check-label" for="Checkme1">@category.Name</label>
                                            </div>
                                        </a>
                                    </li>
                                }
                            }
                        </ul>
                    </div>

                    <!--Theme Dropdown-->
                    <div class="dropdown col-3 filterNav">
                        <button class="btn btn-secondary dropdown-toggle btnCustom"
                                type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Theme
                        </button>

                        <ul class="dropdown-menu" style="height:250px; overflow-y:auto ; overflow-x:hidden">

                            <!--for theme data in drop down-->
                            @if (ViewBag.MissionThemes != null)
                            {
                                @foreach (var category in ViewBag.MissionThemes)
                                {
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <div class="form-check">
                                                <input class="form-check-input checkbox" type="checkbox" onchange="updateUrlTheme()" value="@category.Title" id=@category.MissionThemeId name="theme" />
                                                <label class="form-check-label" for="Checkme1">@category.Title</label>
                                            </div>
                                        </a>
                                    </li>
                                }
                            }
                        </ul>
                    </div>

                    <!--Skill Dropdown-->
                    <div class="dropdown col-3 filterNav">
                        <button class="btn btn-secondary dropdown-toggle btnCustom"
                                type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Skill
                        </button>

                        <ul class="dropdown-menu" style="height:250px; overflow-y:auto ; overflow-x:hidden">

                            <!--for skill data in drop down-->
                            @if (ViewBag.Skills != null)
                            {
                                @foreach (var category in ViewBag.Skills)
                                {
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <div class="form-check">
                                                <input class="form-check-input checkbox" type="checkbox" onchange="updateUrlTheme()" value="@category.Title" id=@category.MissionThemeId name="theme" />
                                                <label class="form-check-label" for="Checkme1">@category.Title</label>
                                            </div>
                                        </a>
                                    </li>
                                }
                            }
                        </ul>
                    </div>

                </div>



            </div>

        </div>

        <hr class="line mt-0">

        <!-- Mission Filter Btn -->
        @*      <div class="container">

        <div class="row">
        <div class="filterSection d-flex align-items-center flex-wrap justify-content-center">
        </div>
        </div>

        </div>*@

        <div class="container d-flex mt-2">
            @if (@ViewBag.countries != null)
            {
                @foreach (var country in @ViewBag.countries)
                {
                    <div class="filter-list ms-2 ps-2" id="co">
                        <span class="ps-1">@country.Name</span><button type="button" class="filter-close-button me-2" aria-label="Close" onclick="countryBtn(this.id)" id=@country.CountryId><img src="~/images/cancel.png" /></button>

                    </div>
                }
            }
            @if (@ViewBag.cities != null)
            {
                @foreach (var city in @ViewBag.cities)
                {
                    <div class="filter-list ms-2 ps-2" id="ci">
                        <span class="ps-1">@city.Name</span><button type="button" class="filter-close-button me-2" aria-label="Close" onclick="cityBtn(this.id)" id=@city.CityId><img src="~/images/cancel.png" /></button>

                    </div>
                }
            }
            @if (@ViewBag.theme != null)
            {
                @foreach (var theme in @ViewBag.theme)
                {
                    <div class="filter-list ms-2 ps-2" id="th">
                        <span class="ps-1">@theme.Title</span><button type="button" class="filter-close-button me-2" aria-label="Close" onclick="themeBtn(this.id)" id=@theme.MissionThemeId><img src="~/images/cancel.png" /></button>
                    </div>
                }

            }
            @if (@ViewBag.countries != null || @ViewBag.cities != null || @ViewBag.theme != null)
            {
                <div class="filter-list ms-2" style="padding-right: 10px;padding-left: 10px;">
                    <button type="button" class="clearall border-0" onclick="clearall()" id="clearall" style="background:white;">Clear All</button>
                </div>
            }
        </div>


        @RenderBody()

    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/filter.js" asp-append-version="true"></script>
    <script>


        //For the Hamburger navbar

        const menu = document.querySelector(".menu");
        const menuItems = document.querySelectorAll(".menuItem");
        const hamburger = document.querySelector(".hamburger");
        const closeIcon = document.querySelector(".closeIcon");
        const menuIcon = document.querySelector(".menuIcon");

        function toggleMenu() {
            if (menu.classList.contains("showMenu")) {
                menu.classList.remove("showMenu");
                closeIcon.style.display = "none";
                menuIcon.style.display = "block";
            } else {
                menu.classList.add("showMenu");
                closeIcon.style.display = "block";
                menuIcon.style.display = "none";
            }
        }

        hamburger.addEventListener("click", toggleMenu);







        // For the Grid View And List View

        function showList(e) {
            localStorage.setItem("view", "list");
            var $gridCont = $('.grid-container');
            e.preventDefault();
            $gridCont.hasClass('list-view') ? $gridCont.removeClass('list-view') : $gridCont.addClass('list-view');
        }
        function gridList(e) {
            localStorage.setItem("view", "grid");
            var $gridCont = $('.grid-container')
            e.preventDefault();
            $gridCont.removeClass('list-view');
        }

        $(document).on('click', '.btn-grid', gridList);
        $(document).on('click', '.btn-list', showList);


    </script>
    @await RenderSectionAsync("Scripts", required: false)


</body>

</html>