@*@model List<CI_Platform_Web.Entities.Models.Mission>;*@

@model CI_Platform_Web.Entities.ViewModel.MissionListViewModel;

@{
    Layout = "_LayoutHeader";
    ViewData["Title"] = "Home Page";
}



<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />

</head>




<!------------------------------------------------ Mission Section -------------------------------------------------------------------->
<!--Explore Mission  -->
<div class="container exploreMission">
    <div class="row align-items-center">
        <div class="titalmissionTitle col-8" id="titalmissionTitle">
            <p class="heading">Explore <big>@ViewBag.TotalMission Missions</big></p>
        </div>


        <div class="dropdown  col-2">
            <button class="btn dropdown-toggle  missionSort" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Sort by
            </button>
            <ul class="dropdown-menu">
                <li onclick="anyChange(1)"><a class="dropdown-item" style="cursor:pointer;">Newest</a></li>
                <li onclick="anyChange(2)"><a class="dropdown-item" style="cursor:pointer;">Oldest</a></li>
                <li onclick="anyChange(4)"><a class="dropdown-item" style="cursor:pointer;">Registration deadline</a></li>
            </ul>
        </div>

        <div class="container mb-3 mt-3 col-2 gridListDiv">
            <button class=" btn-grid gridBtn"><img src="~/images/grid.png" alt="Grid View"></button>
            <button class=" btn-list listBtn"><img src="~/images/list.png" alt="List View"></button>
        </div>

    </div>
</div>



<!--Mission Cards  -->


<div class="container grid-container">


    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 item" id="myItems">
       @* <div>
            @if (ViewData["nomission"] != null)
            {
                @ViewData["nomission"]
            }
        </div>*@

        @{
            int j = 0;
        }

        @foreach (var item in Model.Missions)
        {

            <div class="col ">
                <div class="card h-100">

                    <div class="cardHead">

                        @if (Model.MissionApplicationlist[j] == "true")
                        {
                            <div class="appliedText">APPLIED</div>
                        }
                        @if (DateTime.Now > @item.EndDate)
                        {

                            <div class="closedText">Closed</div>
                        }

                        <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability.png" class="card-img" alt="...">
                        <div class="landing-page-top-right"><img src="~/images/pin.png" alt="">@item.City.Name</div>

                        <div class="landing-page-bottom-right d-flex flex-column">

                            <button class="mb-2 landing-page-btn-img" onclick="addfav(@ViewBag.UserId,@item.MissionId)" id="item_@item.MissionId">

                                @if (Model.FavMission[j])
                                {
                                    <i class="bi bi-heart-fill" style="color:red"></i>
                                }
                                else
                                {
                                    <i class="bi bi-heart"></i>
                                }

                            </button>

                            <button class="landing-page-btn-img" type="button" data-bs-toggle="modal" data-bs-target="#myModal">
                                <img src="~/images/user.png"
                                 alt="">
                            </button>

                            <!--Recommendation Model-->
                            <div class="modal" id="myModal">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">

                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h4 class="modal-title">Recommend to a Co-Worker</h4>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                        </div>

                                        <!-- Modal body -->
                                        <div class="table-wrapper-scroll-y my-custom-scrollbar">

                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Name</th>
                                                        <th scope="col">Email</th>
                                                        <th scope="col">Send An Invitation</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{
                                                        var p = 0;
                                                    }
                                                    @foreach (var c in ViewBag.User)
                                                    {
                                                        <tr>
                                                            <td>@c.FirstName @c.LastName</td>
                                                            <td>@c.Email</td>
                                                            <td>
                                                                <button class="btn sendBtn" onclick="recommendCoWorker(@c.UserId,@item.MissionId,@p)" id="@p">Send</button>
                                                            </td>
                                                        </tr>
                                                        p++;
                                                    }
                                                </tbody>
                                            </table>

                                        </div>


                                        <!-- Modal footer -->
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                        <p class="shape">@item.Theme.Title</p>

                    </div>

                    <div class="cardBodyMain">
                        <div class="card-body mt-10">
                            <h4 class="card-title">@item.Title</h4>
                            <p class="card-text">
                                This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.
                            </p>

                            <div class="cardBodyFooter">
                                <p class="ngoName">@item.OrganizationName</p>
                                <div class="rating">
                                    @if (@Model.MissionRatingss[j] == 0)
                                    {
                                        <span class="ms-2">No Ratings</span>
                                    }
                                    else
                                    {

                                        @for (int i = 0; i < @Model.MissionRatingss[j]; i++)
                                        {
                                            <i class="bi bi-star-fill" style="color:orange"></i>
                                        }

                                        @for (int i = 0; i < 5 - @Model.MissionRatingss[j]; i++)
                                        {
                                            <i class="bi bi-star"></i>
                                        }

                                    }
                                </div>
                            </div>
                        </div>


                        @if (item.MissionType == "time")
                        {
                            <div class="missionDurationDiv">
                                <hr class="durationLine">
                                <button class="missionDuration">From @item.StartDate.ToString().Split(" ")[0] until @item.EndDate.ToString().Split(" ")[0]</button>
                                <hr class="durationLine">
                            </div>

                            <div class="missionDeadLine  d-flex flex-row justify-content-between">
                                <div class="d-flex flex-row align-items-center">
                                    <img src="~/images/Seats-left.png" alt="" class="" height="30px" width="30px">
                                    <div class="d-flex flex-column ms-2">
                                        <p class="d-inline mb-0 pt-2">@Model.seatleft.ElementAt(j)</p>
                                        <p class="seat">Seats Left</p>
                                    </div>
                                </div>

                                <div class="d-flex flex-row align-items-center">
                                    <img src="~/images/deadline.png" height="33px" width="33px" alt="">
                                    <div class="d-flex flex-column ms-2">
                                        <p class="d-inline mb-0 pt-2">@item.StartDate.ToString().Split(" ")[0]</p>
                                        <p class="seat">Deadline</p>
                                    </div>
                                </div>

                            </div>

                        }

                        else
                        {
                            <div class="missionDurationDiv">
                                <hr class="durationLine">
                                <button class="missionDuration">It is a Goal base mission</button>
                                <hr class="durationLine">
                            </div>

                            <div class="missionDeadLine  d-flex flex-row justify-content-between">
                                <div class="d-flex flex-row align-items-center">
                                    <img src="~/images/Seats-left.png" alt="" class="" height="30px" width="30px">
                                    <div class="d-flex flex-column ms-2">
                                        <p class="d-inline mb-0 pt-2">@Model.seatleft.ElementAt(j)</p>
                                        <p class="seat">Seats Left</p>
                                    </div>
                                </div>

                                <div class="ms-auto me-2"><img src="~/images/achieved.png" class="mt-2"></div>
                                <div class="ms-2 me-5" stye="width:100%">
                                    <div class="progress mt-2" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar bg-warning" style="width: 25%">25%</div>
                                    </div>
                                    <fs-5>Deadline</fs-5>
                                </div>
                            </div>

                        }

                        <div class="card-footer d-flex justify-content-center" style="background-color: #ffffff;">
                            <a asp-action="volunteeringMission" asp-route-missID="@item.MissionId" class="applyBtn btn">

                                @if (Model.MissionApplicationlist[j] == "true")
                                {
                                    @:&nbsp;View Details &nbsp;&nbsp;
                                }
                                else
                                {
                                    @:&nbsp;Apply &nbsp;&nbsp;

                                }
                                <img src="~/images/right-arrow.png" alt="Right Arrow">

                            </a>
                        </div>
                        @{
                            j = j + 1;
                        }
                    </div>

                </div>
            </div>

        }

    </div>
</div>


<!--For The Pagination-->
<nav aria-label="Page navigation example" class="d-flex justify-content-center mt-3 paginationNav" id="paginationNav">

    <ul class="pagination">

        <li class="page-item @(ViewBag.CurrentPage == 0 ? "disabled" : "")">
            <a class="page-link" onclick="anyChange(id=@ViewBag.sortIdPass,pageNo=@(ViewBag.CurrentPage - 1))" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>

        @for (int i = 0; i < ViewBag.TotalPages; i++)
        {
            <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                <a class="page-link" onclick="anyChange(id=@ViewBag.sortIdPass,pageNo=@i)">@((i + 1).ToString())</a>
            </li>
        }

        <li class="page-item @(ViewBag.CurrentPage == ViewBag.TotalPages - 1 ? "disabled" : "")">
            <a class="page-link" onclick="anyChange(id=@ViewBag.sortIdPass,pageNo=@(ViewBag.CurrentPage + 1))" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>

    </ul>
</nav>

<script>

    //For Add To Favourite In The Home Page

    function addfav(i, j) {

        var a = j;
        console.log("A");
        $.ajax({
            url: '/Home/addToFav?id=' + i + '&mid=' + j,
            success: function (data) {
                console.log("success");

                console.log(data);
                if (data == 1) {
                    //$('#fafav').style.color="#F88634";
                    debugger;

                    $("#item_" + j + " .bi").removeClass("bi-heart");
                    $("#item_" + j + " .bi").addClass("bi-heart-fill");
                    $("#item_" + j + " .bi").css("color", "red");
                }
                else {
                    //$('#fafav').style.color="#F88634";
                    $("#item_" + j + " .bi").addClass("bi-heart");
                    $("#item_" + j + " .bi").removeClass("bi-heart-fill");
                    $("#item_" + j + " .bi").css("color", "black");
                    //document.getElementById(a + "+a").style.color = "#000000";
                    //document.getElementById("favtext").innerHTML="added";
                    // $("#favtext").text("Add to Favourite");
                }


            }
        });
    }


    //For Recommendation To Co-Worker

    function recommendCoWorker(userId, missionId, id) {
        $('#' + id).text("Sending");
        console.log(missionId);
        console.log('#' + id);
        console.log("Recommend functuion Called");

        $.ajax({
            url: 'recommendEmail?sID=' + userId + '&m=' + missionId,
            success: function (data) {
                if (data) {
                    console.log("inside success");
                    //$('#'+id).attr('disabled', true);
                    $('#' + id).text("Sent");
                    $('#' + id).css("color", "black");
                    $('#' + id).css("border", "1px solid black");
                    $('#' + id).attr('disabled', true);

                    // var a = $('#'+id);
                    //console.log(a);
                }
            }
        });
    }

</script>

</html>



