@{
    Layout = "_LayoutHeader";
}

@{
    var missDetail = ViewBag.mission;
    var city = ViewBag.citylist;
    var theme = ViewBag.themelist;
    var orgName = ViewBag.orgname;
}

<head>

    <link rel="stylesheet" href="~/css/volunteeringMission.css">
    <link rel="stylesheet" href="~/css/home.css">
    <title>Reset-Password</title>

</head>

<hr class="line mt-0">



<!-- Volunteering Mission Image And Details -->

<div class="container mt-3">
    <div class="row ">

        <!-- Image Slider -->

        <div class="col-12 col-sm-12 col-md-6 col-lg-6">


            <!-- image carausol start -->
            <section class="csec">
                <div class="container">
                    <div class="carousel">
                        <input type="radio" name="slides" checked="checked" id="slide-1">
                        <input type="radio" name="slides" id="slide-2">
                        <input type="radio" name="slides" id="slide-3">
                        <input type="radio" name="slides" id="slide-4">

                        <ul class="carousel__slides">
                            <li class="carousel__slide">
                                <figure>
                                    <div>
                                        <img src="~/images/img11.png" alt="">
                                    </div>

                                </figure>
                            </li>
                            <li class="carousel__slide">
                                <figure>
                                    <div>
                                        <img src="~/images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-2.png"
                                             alt="">
                                    </div>

                                </figure>
                            </li>
                            <li class="carousel__slide">
                                <figure>
                                    <div>
                                        <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-2.png"
                                             alt="">
                                    </div>

                                </figure>
                            </li>
                            <li class="carousel__slide">
                                <figure>
                                    <div>
                                        <img src="~/images/image1.png" alt="">
                                    </div>

                                </figure>
                            </li>

                        </ul>
                        <ul class="carousel__thumbnails">
                            <li>
                                <label for="slide-1"><img src="~/images/img11.png" alt=""></label>
                            </li>
                            <li>
                                <label for="slide-2">
                                    <img src="~/images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-1.png"
                                         alt="">
                                </label>
                            </li>
                            <li>
                                <label for="slide-3">
                                    <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-2.png"
                                         alt="">
                                </label>
                            </li>
                            <li>
                                <label for="slide-4"><img src="~/images/image.png" alt=""></label>
                            </li>

                        </ul>
                    </div>
                </div>
            </section>
            <!-- image carausel end -->

        </div>

        <!-- Side Information -->

        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            <div class="titlediv">
                <span class="title">@missDetail.Title</span>
            </div>

            <div class="text">
                <span class="text">
                    @missDetail.ShortDescription
                </span>
            </div>

            <div class="center-text">
                <span class="ispan"> Plant 10,000 Trees</span>
            </div>

            <div class="d-flex targetInfo">

                <div class="d-flex flex-row align-items-center seatDiv">
                    <img src="~/images/Seats-left.png" alt="" class="" height="30px" width="30px">
                    <div class="d-flex flex-column ms-2">
                        <p class="d-inline mb-0 pt-2">10</p>
                        <p class="seat">Seats Left</p>
                    </div>
                </div>

                <div class="d-flex flex-row align-items-center seatDiv">
                    <img src="~/images/Seats-left.png" alt="" class="" height="30px" width="30px">
                    <div class="d-flex flex-column ms-2">
                        <p class="d-inline mb-0 pt-2">10</p>
                        <p class="seat">Seats Left</p>
                    </div>
                </div>

            </div>

            <hr>
            <div class="buttonii">
                <button class="addToFavouriteBtn"><img src="~/images/heart1.png" alt="">Add to Favourite</button>
                <button class="recommendetionBtn">
                    <img src="~/images/add1.png" alt="">Recommend to a
                    Co-Worker
                </button>
            </div>

            <div class="center-text mt-2">
                <img src="~/images/star-empty.png" alt="" class="starImg">
                <img src="~/images/star-empty.png" alt="" class="starImg">
                <img src="~/images/star-empty.png" alt="" class="starImg">
                <img src="~/images/star-empty.png" alt="" class="starImg">
                <img src="~/images/star-empty.png" alt="" class="starImg">
            </div>

            <div class="row gx-2 mt-2">
                <div class="col-3">
                    <div class="box1">
                        <div class="image">
                            <img src="~/images/pin1.png" alt="">
                        </div>
                        <div class="belowImg">
                            <span style="font-size: 13px; color: #757575;">City</span>
                            <span class="cityName" style="font-size: 15px;">@city.Name</span>
                        </div>
                    </div>
                </div>

                <div class="col-3">
                    <div class="box1">
                        <div class="image">
                            <img src="~/images/web.png" alt="">
                        </div>
                        <div class="belowimg">
                            <span style="font-size: 13px; color: #757575;">Theme</span>
                            <span class="theme" style="font-size: 15px;">@theme.Title</span>
                        </div>
                    </div>
                </div>

                <div class="col-3">
                    <div class="box1">
                        <div class="image">
                            <img src="~/images/calender.png" alt="">
                        </div>
                        <div class="belowImg">
                            <span style="font-size: 13px; color: #757575;">Date</span>
                            <span class="timeline" style="font-size: 15px;">Ongoing <br> Opportunity</span>
                        </div>
                    </div>
                </div>

                <div class="col-3">
                    <div class="box1">
                        <div class="image">
                            <img src="~/images/organization.png" alt="">
                        </div>
                        <div class="belowImg">
                            <span style="font-size: 13px; color: #757575;">Organization</span>
                            <span class="organizationName" style="font-size: 15px;">@orgName.OrganizationName</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="apply  mt-2 d-flex">
                <button class="buttonsi py-2">
                    Apply Now &nbsp <img src="images/right-arrow.png" alt="" />
                </button>
            </div>
        </div>

    </div>
</div>

<!--Middle Part -->

<div class="container mt-5 mb-5">
    <div class="row">

        <!-- Tabs -->

        <div class="col-lg-7  col-md-12 leftDiv">

            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home"
                            aria-selected="true">
                        Missions
                    </button>
                    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                            type="button" role="tab" aria-controls="nav-profile"
                            aria-selected="false">
                        Organization
                    </button>
                    <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact"
                            type="button" role="tab" aria-controls="nav-contact" aria-selected="false">
                        Comments
                    </button>
                </div>
            </nav>

            <div class="tab-content mt-2" id="nav-tabContent">

                <div class="tab-pane fade show active missionTab" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

                    <span>Introduction</span>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>

                    <span>Challenge</span>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident quaerat nostrum quod
                        laboriosam modi quia aliquam, dolorum magnam tempore deleniti praesentium facere eveniet,
                        aperiam vitae expedita quae, molestias eius perferendis? Quisquam, molestiae!
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, eius dignissimos. Excepturi
                        sequi earum itaque, delectus soluta exercitationem libero ipsa a modi reprehenderit atque
                        labore similique corrupti aliquid cupiditate distinctio praesentium minima?
                    </p>

                    <span>Documents</span>
                </div>

                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                    <p>
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                        mollit anim id est laborum.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>

                </div>

                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">

                    <textarea name="enterComments" id="" cols="" rows="5" placeholder="Enter your comments..."
                              style="width: 100%;"></textarea>

                    <div class="mt-2 d-flex">
                        <button class="buttonsi1 py-2">
                            Post Comment
                        </button>
                    </div>

                    <div class="commentDiv bg-light rounded-3  p-4 mt-3">

                        <div class="card d-flex flex-row align-items-center">

                            <div class="card-header1">
                                <img src="images/user-img.png" alt="" class="commentImg">
                            </div>

                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text">
                                    With supporting text below as a natural lead-in to additional
                                    content.
                                </p>
                            </div>

                        </div>

                        <div class="card d-flex flex-row align-items-center mt-3">

                            <div class="card-header1">
                                <img src="images/user-img.png" alt="" class="commentImg">
                            </div>

                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text">
                                    With supporting text below as a natural lead-in to additional
                                    content.
                                </p>
                            </div>

                        </div>

                        <div class="card d-flex flex-row align-items-center mt-3">

                            <div class="card-header1">
                                <img src="images/user-img.png" alt="" class="commentImg">
                            </div>

                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text">
                                    With supporting text below as a natural lead-in to additional
                                    content.
                                </p>
                            </div>

                        </div>

                        <div class="card d-flex flex-row align-items-center mt-3">

                            <div class="card-header1">
                                <img src="images/user-img.png" alt="" class="commentImg">
                            </div>

                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text">
                                    With supporting text below as a natural lead-in to additional
                                    content.
                                </p>
                            </div>

                        </div>

                        <div class="card d-flex flex-row align-items-center mt-3">

                            <div class="card-header1">
                                <img src="images/user-img.png" alt="" class="commentImg">
                            </div>

                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text">
                                    With supporting text below as a natural lead-in to additional
                                    content.
                                </p>
                            </div>

                        </div>

                        <div class="card d-flex flex-row align-items-center mt-3">

                            <div class="card-header1">
                                <img src="images/user-img.png" alt="" class="commentImg">
                            </div>

                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text">
                                    With supporting text below as a natural lead-in to additional
                                    content.
                                </p>
                            </div>

                        </div>

                        <div class="card d-flex flex-row align-items-center mt-3">

                            <div class="card-header1">
                                <img src="images/user-img.png" alt="" class="commentImg">
                            </div>

                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text">
                                    With supporting text below as a natural lead-in to additional
                                    content.
                                </p>
                            </div>

                        </div>

                    </div>
                </div>

            </div>

        </div>

        <!-- Information & Recent Volunteers -->

        <div class="col-lg-5 col-md-12 rightDiv">

            <div class="informationDiv">
                <div class="information">
                    <h4 style="color:#414141;">Information</h4>
                </div>
                <hr>
                <div class="skillDiv">
                    <p class="mb-0">Skills</p>
                    <p class="mb-0">Cool, Easy going, Math, Computer</p>
                </div>
                <hr>
                <div class="daysDiv">
                    <p class="mb-0">Days</p>
                    <p class="mb-0">Weekend only</p>
                </div>
                <hr>
                <div class="ratingDiv">
                    <p class="mb-0">Rating</p>
                    <img src="images/selected-star.png" alt="">
                    <img src="images/selected-star.png" alt="">
                    <img src="images/selected-star.png" alt="">
                    <img src="images/selected-star.png" alt="">
                    <img src="images/selected-star.png" alt="">
                    <p class="mb-0">(by 125 volunteers)</p>
                    <div>
                    </div>
                </div>
            </div>

            <div class="recentVolunteersDiv">
                <div class="recentVolunteers">
                    <div class="volunteers">
                        <h4 style="color:#414141;">Recent Volunteers</h4>
                    </div>
                </div>
                <hr>
                <div class="volunteersImage">
                    <div class="imageDiv">
                        <img src="~/images/user-img.png" alt="">
                        <p class="name">Andrew Johnson</p>

                        <img src="~/images/user-img.png" alt="">
                        <p class="name">Andrew Johnson</p>

                        <img src="~/images/user-img.png" alt="">
                        <p class="name">Andrew Johnson</p>
                    </div>
                    <div class="imageDiv">
                        <img src="~/images/user-img.png" alt="">
                        <p class="name">Andrew Johnson2</p>

                        <img src="~/images/user-img.png" alt="">
                        <p class="name">Andrew Johnson2</p>

                        <img src="~/images/user-img.png" alt="">
                        <p class="name">Andrew Johnson2</p>
                    </div>
                    <div class="imageDiv">
                        <img src="~/images/user-img.png" alt="">
                        <p class="name">Andrew Johnson3</p>

                        <img src="~/images/user-img.png" alt="">
                        <p class="name">Andrew Johnson3</p>

                        <img src="~/images/user-img.png" alt="">
                        <p class="name">Andrew Johnson3</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<hr />


<!--For the Related Missions-->


<div class="container">
    <h4 class="d-flex justify-content-center">Related Missions</h4>
</div>

<div class="container grid-container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4" id="myItems">

        @for (var i = 0; i < 3; i++)
        {
            <div class="col ">
                <div class="card h-100">

                    <div class="cardHead">

                        <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability.png" class="card-img" alt="...">
                        <div class="landing-page-top-right"><img src="~/images/pin.png" alt="">Country.Name</div>
                        <div class="landing-page-bottom-right d-flex flex-column">
                            <button class="mb-2 landing-page-btn-img">
                                <img src="~/images/heart.png" alt="">
                            </button><button class="landing-page-btn-img">
                                <img src="~/images/user.png"
                                 alt="">
                            </button>
                        </div>
                        <p class="shape">Theme.Title</p>

                    </div>

                    <div class="cardBodyMain">
                        <div class="card-body mt-10">
                            <h4 class="card-title">Title</h4>
                            <p class="card-text">
                                This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.
                            </p>

                            <div class="cardBodyFooter">
                                <p class="ngoName">OrganizationName</p>
                                <div class="rating">
                                    <img src="~/images/selected-star.png" alt="Rating">
                                    <img src="~/images/selected-star.png" alt="Rating">
                                    <img src="~/images/selected-star.png" alt="Rating">
                                    <img src="~/images/star.png" alt="Rating">
                                    <img src="~/images/star.png" alt="Rating">
                                </div>
                            </div>
                        </div>

                        <div class="missionDurationDiv">
                            <hr class="durationLine">
                            <button class="missionDuration">From  until</button>
                            <hr class="durationLine">
                        </div>

                        <div class="missionDeadLine  d-flex flex-row justify-content-between">
                            <div class="d-flex flex-row align-items-center">
                                <img src="~/images/Seats-left.png" alt="" class="" height="30px" width="30px">
                                <div class="d-flex flex-column ms-2">
                                    <p class="d-inline mb-0 pt-2">10</p>
                                    <p class="seat">Seats Left</p>
                                </div>
                            </div>



                            <div class="d-flex flex-row align-items-center">
                                <img src="~/images/deadline.png" height="33px" width="33px" alt="">
                                <div class="d-flex flex-column ms-2">
                                    <p class="d-inline mb-0 pt-2">jsjsjsj</p>
                                    <p class="seat">Deadline</p>
                                </div>
                            </div>


                            @*                                else
                                {
                                <div class="ms-auto me-2"><img src="~/images/achieved.png" class="mt-2"></div>
                                <div class="ms-2 me-5" stye="width:100%">
                                <div class="progress mt-2" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar bg-warning" style="width: 25%">25%</div>
                                </div>
                                <fs-5>Deadline</fs-5>
                                </div>
                                }*@

                        </div>

                        <div class="card-footer d-flex justify-content-center" style="background-color: #ffffff;">
                            <a asp-action="volunteeringMission" asp-route-missID="" class="applyBtn btn">Apply <img src="~/images/right-arrow.png" alt="Right Arrow"></a>
                        </div>
                    </div>

                </div>
            </div>
        }

    </div>
</div>
