@{
    Layout = "_LayoutAdmin";
}

@model CI_Platform_Web.Entities.ViewModel.AdminMissionViewModel;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.ckeditor.com/4.20.2/standard/ckeditor.js"></script>
    <link rel="stylesheet" href="~/css/user.css" class="rel" />

    <title>Document</title>
</head>
<body>

    <h3 class="admin-title-top">@ViewData["admin-Title"]</h3>
    <hr class="admin-title-line" />
    <div class="add-btn-div">

        <a class="ms-auto" asp-action="AddEditMission" asp-controller="Admin">
            <button type="button" class="add-btn-admin ps-2 pe-2">
                <i class="bi bi-plus me-1"></i><span>Add</span>
            </button>
        </a>

    </div>
    <div class="table-admin-div-user mt-2">
        <table class="table table-bordered" id="myTable">
            <thead class="table-light">
                <tr>
                    <th scope="col">Mission Title</th>
                    <th scope="col">Mission Type</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var i in Model.Missions)
                {
                    <tr>
                        <td scope="row">@i.Title</td>
                        <td>@i.MissionType</td>
                        <td>@i.StartDate.Value.ToString("dd-MM-yyyy")</td>
                        <td>@i.EndDate.Value.ToString("dd-MM-yyyy")</td>
                        <td><a class="text-deco-none" asp-action="AddEditMission" asp-controller="Admin" asp-route-missionId=@i.MissionId><i class="bi bi-pencil-square color-saffron editBtn"></i></a><i class="bi bi-trash ms-2"></i></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</body>

<script src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script>
    let table = new DataTable('#myTable');
</script>

</html>