@{
    Layout = "_LayoutAdmin";
}

@model CI_Platform_Web.Entities.ViewModel.AdminMissionViewModel;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.ckeditor.com/4.20.2/standard/ckeditor.js"></script>
    <link rel="stylesheet" href="~/css/user.css" class="rel" />

    <title>Document</title>
</head>
<body>

    <h3 class="admin-title-top">@ViewData["admin-Title"]</h3>
    <hr class="admin-title-line" />
    <div class="add-btn-div">

        <a class="ms-auto" asp-action="AddEditMission" asp-controller="Admin">
            <button type="button" class="add-btn-admin ps-2 pe-2">
                <i class="bi bi-plus me-1"></i><span>Add</span>
            </button>
        </a>

    </div>
    <div class="table-admin-div-user mt-2">
        <table class="table table-bordered" id="myTable">
            <thead class="table-light">
                <tr>
                    <th scope="col">Mission Title</th>
                    <th scope="col">Mission Type</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var i in Model.Missions)
                {
                    <tr>
                        <td scope="row">@i.Title</td>
                        <td>@i.MissionType</td>
                        <td>@i.StartDate.Value.ToString("dd-MM-yyyy")</td>
                        <td>@i.EndDate.Value.ToString("dd-MM-yyyy")</td>
                        <td>
                            <a class="text-deco-none" asp-action="AddEditMission" asp-controller="Admin" asp-route-missionId=@i.MissionId><i class="bi bi-pencil-square color-saffron editBtn"></i></a>
                            <i class="bi bi-trash ms-2" onclick="setMissionId(@i.MissionId)" data-bs-toggle="modal" data-bs-target="#DeleteMission"></i>

                            <!--Delete Modal-->
                            <div class="modal fade" id="DeleteMission" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog delete-modal-admin">
                                    <div class="modal-content delete-modal-admin">

                                        <div class="modal-body">
                                            <input type="text" id="delete_mission" hidden>
                                            <h3>Confirm Delete</h3>
                                            <div class="mt-2">Are You Sure Want To Delete This Record?</div>
                                            <div class="d-flex justify-content-center mt-4">
                                                <button type="button" class="cancelBtn" data-bs-dismiss="modal">Cancel</button>
                                                <button type="button" class="savebtnmodal saveBtn" onclick="deleteMission()" data-bs-dismiss="modal">Delete</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</body>

<script src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script>
    let table = new DataTable('#myTable');
</script>
<script>
    function setMissionId(mission_id){
        console.log(mission_id);
        $('#delete_mission').val(mission_id)
    }

    function deleteMission(id){
        var id = $('#delete_mission').val()
        console.log(id);
        $.ajax({
            url: '/Admin/DeleteMission?missionId='+id,
            success:function(data){
                console.log(data)
                location.reload()
            },
            error:function(error){
                alert(error);
            }
        })
    }
</script>

</html>